#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {



            bindings = <
&kp Q    &kp W     &kp E      &kp R      &kp T                          &kp P      &kp O      &kp I      &kp U      &kp Y
&kp A    &kp S     &kp D      &kp F      &kp G                          &kp N1     &kp DOT    &kp COMMA  &kp M      &kp N
                   &kp LBKT  &mt LGUI RBKT                                                      &kp MINUS  &kp EQUAL
                                    &mo RAISE  &kp SPACE                &kp N1   &mo N2
                                               &kp HOME &kp LSHIFT                   &kp N3    &kp N4
                                               &kp END  &kp INS                      &kp DEL   &kp PG_DN                                                     
            >;
        };
   };
};
